
.about {

    grid-column: full-start / full-end;
    &__bg {
      height: 100%;
      background-repeat: inherit;
      background-size: cover;
      position: relative;
      margin-bottom: 6rem;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: #001227fa;
      }
    }

    &__content {
      position: relative;
      text-align: center;
      z-index: 2;
      animation-name: blur-content;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      h1 {
        font-size: 3.5rem;
        color: var(--secondary-color);
        letter-spacing: 3px;
        text-shadow: 0 0 4px #28c7fa96;
      }
    }

    @keyframes blur-content {

        0% {filter: blur(22px);}
        100% {filter: blur(0px);}
    }

    &__info {
      width: 70%;
      margin: auto;
      padding: 1.5rem;
      background-color: #0011275e;
      box-shadow: 0 0 4px 0 #28c7fa59;
      p {
        font-size: 2rem;
        color: #cecdcd;
        letter-spacing: 1px;
        line-height: 157%;
      }
    }
}
